<section class="hero-section d-flex flex-column align-items-center justify-content-center text-white">
   <div class="container text-center hero-content">
      <h1>Chúng Tôi Tin Rằng Mọi Người Đều Nên Dễ Dàng Tiếp Cận Dịch Vụ Nha Khoa Tuyệt Vời</h1>
      <p class="my-4">Với vai trò là một nhà đổi mới hàng đầu trong ngành, Dental Clinic đang mở ra những cơ hội thú vị mới cho 
         các chuyên gia nha khoa, nhà đầu tư, nhân viên & nhà cung cấp. Liên hệ với chúng tôi để khám phá những gì chúng tôi có thể mang đến cho bạn.</p>
      <div class="d-flex justify-content-center gap-3">
         <a href="#" class="btn btn-primary bg-light-blue bd-lightblue">Bắt Đầu Ngay</a>
         <a href="#" class="btn btn-outline-primary text-white bd-lightblue">Liên Hệ Với Chúng Tôi</a>
      </div>
   </div>
</section>
